(<a href="https://app.periscopedata.com/app/gitlab/1174055/Pipeline-Authoring---CI-Catalog-Project-Progress" target="_blank">Sisense↗</a>)

<%= partial "handbook/engineering/development/ops/project-plans/partials/_ci_catalog_beta_progress_dashboard.erb" %>